<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js"></script>
    <script src="./script/script.js"></script>
    <script src="./script/dateScript.js"></script>
    <style>
        
    </style>
    
</head>
<body ng-app="mainApp" style="background-image: url('./images/kitchenbg.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div ng-controller="leftNavCtrl">
    <div id="topDemo">
      <button type="button" ng-click="showHideLeft()"><img width="30em" height="30em" src="./icons/kitchen.svg"  /></button>
      <a href="rooms.html"><button type="button"  class="glyphicon glyphicon-menu-left" style="margin-left:2em;"></button></a>
      <span style="margin-left:35em;">Kitchen</span>
      <button type="button" class="glyphicon glyphicon-time" style="margin-left: 45em" data-toggle="modal" data-target="#homeModal1"></button>
      <button type="button" ng-click="showHideRight()" class="glyphicon glyphicon-menu-hamburger "></button>
      
    </div>

    <div class="leftNav" ng-show="leftNavToggle" style="z-index: 1;">
        <h4 style="text-align : center;">Demo</h4><hr>
        <div class="leftNavBtn">
        <button type="button" ><img src="./icons/rooms.svg"  style="float:left"/><span style="float:left; margin-left:1em">Rooms</span></button><hr>
        <button type="button" ><img src="./icons/alarm.svg"  style="float:left"/><span style="float:left; margin-left:1em">Alarm</span></button><hr>
        <button type="button" ><img src="./icons/fire.svg"  style="float:left"/><span style="float:left; margin-left:1em">HVAC</span></button><hr>
        <button type="button" ><img src="./icons/cinema.svg"  style="float:left"/><span style="float:left; margin-left:1em">Cinema</span></button><hr>
        <button type="button" ><img src="./icons/shades.svg"  style="float:left"/><span style="float:left; margin-left:1em">Shades</span></button><hr>
        <button type="button" ><img src="./icons/camera.svg"  style="float:left"/><span style="float:left; margin-left:1em">Camera</span></button><hr>
        <button type="button" ><img src="./icons/consumption.svg"  style="float:left"/><span style="float:left; margin-left:1em">Consumption</span></button><hr>
        <button type="button" ><img src="./icons/irrigation.svg"  style="float:left"/><span style="float:left; margin-left:1em">Irrigation</span></button><hr>
        <button type="button" ><img src="./icons/pool.svg"  style="float:left"/><span style="float:left; margin-left:1em">Pools</span></button><hr>
        <button type="button" ><img src="./icons/weather.svg"  style="float:left"/><span style="float:left; margin-left:1em">Weather</span></button><hr>
        <button type="button" ><img src="./icons/settings.svg"  style="float:left"/><span style="float:left; margin-left:1em">Settings</span></button>
        </div>
    </div>
    <div class="rightNav" ng-show="rightNavToggle" style="z-index:1;">
        <h4 style="text-align : center;">Rooms</h4><hr>
        <div class="rightNavBtn">
        <button type="button" data-toggle="modal" data-target="#homeModal4"><img src="./icons/settings.svg"  style="float:left"/><span style="float:left; margin-left:1em">Settings</span></button><hr>
        <button type="button" ><img src="./icons/logout.svg"  style="float:left"/><span style="float:left; margin-left:1em">Logout</span></button><hr>
        </div>
    </div>
    </div>
    <div class="modal fade" id="homeModal1" class="homeModal1" role="dialog">
        <div class="modal-dialog" style="width:25em;">
            <div class="modal-content">
                <div class="modal-header" style="background-color : #EEE;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <button type="button" class="glyphicon glyphicon-time"></button>
                    <span style="margin-left: 8em;">Events</span>
                    <button type="button" style="margin-left:5em"class="glyphicon glyphicon-envelope"></button>
                </div>
                <div class="modal-body" style="height:80vh; overflow-y: scroll;">
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p><hr>
                   <p> General mode </p>
                </div>
            </div>
        </div>
    </div>

<div id="main">
    <div id="kitchenMain">
        <div id="kitchenLighting">
            <h5 style="text-align: center; margin:0; padding:0">Lighting</h5>
            <button class="kitchenLg" style="margin-top: 1em;" ng-click="kitchenLightingCeiling=!kitchenLightingCeiling">
                <img src="./icons/cctv.svg" style="float: left;" />
                <span style="float:left; margin-left: 1em;font-size: 1.1em;">Ceiling</span>
                <span style="float:right; font-size: 1.2em;" ng-bind="kitchenLightingCeiling ? 'ON':'OFF'"></span>
            </button>
            <button class="kitchenLg">
                <img src="./icons/table.svg" style="float: left;" />
                <span style="float:left; margin-left: 1em;font-size: 1.1em;">Table</span>
                <span style="float:right; font-size: 1.2em;">80%</span>
            </button>
            <button class="kitchenLg"  ng-click="kitchenLightingCountertop=!kitchenLightingCountertop">
                <img src="./icons/chain.svg" style="float: left;" />
                <span style="float:left; margin-left: 1em;font-size: 1.1em;">Countertop</span>
                <span style="float:right; font-size: 1.2em;" ng-bind="kitchenLightingCountertop ? 'OFF':'ON'"></span>
            </button>
            <button class="kitchenSm" style="margin: 37% 1% 1% 20%">
                <img src="./icons/settingsbulb.svg" />
                <br/>
                <span>All OFF</span>
            </button>
            <button class="kitchenSm" style="margin: 37% 1% 1% 1%">
                <img src="./icons/dinner.svg" />
                <a data-target="#kitchen1" data-toggle="modal"><img src="./icons/settings.svg" style="width:1em; height:1em;"></a><br/>
                <span>Dinner</span>
            </button>
            <button class="kitchenSm" style="margin: 37% 10% 1% 1%">
                <img src="./icons/modegeneral.svg" />
                <a data-target="#kitchen2" data-toggle="modal"><img src="./icons/settings.svg" style="width:1em; height:1em;"></a><br/>
                <span>Fiesta</span>
            </button>
        </div>
        <div id="kitchenOthers">
            <h5 style="text-align: center; margin:0; padding:0">Others</h5>
            <button class="kitchenLg" style="margin-top: 1em;">
                <img src="./icons/waterlevel.svg" style="float: left;" />
                <span style="float:left; margin-left: 1em;font-size: 1.1em;">Kitchen</span>
                <span style="float:right; font-size: 1.2em;">20%</span>
            </button>
            <button class="kitchenLg"  ng-click="kitchenOthersSocket=!kitchenOthersSocket">
                <img src="./icons/socket.svg" style="float: left;" />
                <span style="float:left; margin-left: 1em;font-size: 1.1em;">Kitchen Socket</span>
                <span style="float:right; font-size: 1.2em;" ng-bind="kitchenOthersSocket ? 'OFF':'ON'"></span>
            </button>
        </div>
        <!-- kitchen dinner-->
        <div class="modal fade" id="kitchen1" class="homeModal1" role="dialog">
            <div class="modal-dialog" style="width:30em;position: absolute; left:20em;">
                <div class="modal-content" >
                    <div class="modal-header" style="background-color:#ded9d9;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <span><img src="./icons/table.svg" width="25em" height="25em" /></span>
                        <span style="margin-left: 6em; font-size: 1.5em">Scene1</span>
                    </div>
                    <div class="modal-body" style="height:70vh;">
                        <button class="shadesLg">
                            <img src="./icons/poolbulb.svg" width="30em" height="30em" style="float: left;" />
                            <span style="float:left; margin-left : 1em; font-size: 1.2em;">Kitchen Table</span>
                            <span style="float:right; font-size: 1em;">60 %</span>
                        </button><hr/>
                        <button class="shadesLg" ng-click="kitchenDinnerScene1Ceiling=!kitchenDinnerScene1Ceiling">
                            <img src="./icons/poolbulb.svg" width="30em" height="30em" style="float: left;" />
                            <span style="float:left; margin-left : 1em; font-size: 1.2em;">Kitchen Ceiling</span>
                            <span style="float:right; font-size: 1em;" ng-bind="kitchenDinnerScene1Ceiling ? 'ON':'OFF'"></span>
                        </button><hr/>
                        <button class="shadesLg" ng-click="kitchenDinnerScene1CP=!kitchenDinnerScene1CP">
                            <img src="./icons/poolbulb.svg" width="30em" height="30em" style="float: left;" />
                            <span style="float:left; margin-left : 1em; font-size: 1.2em;">Kitchen Counterpoint</span>
                            <span style="float:right; font-size: 1em;" ng-bind="kitchenDinnerScene1CP ? 'ON':'OFF'"></span>
                        </button><hr/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="glyphicon glyphicon-play" style="float:left">Execute</button>
                        <button type="button" class="glyphicon glyphicon-pause" style="float:left">Learn</button>
                        <button type="button" class="glyphicon glyphicon-ok" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Kitchen fiesta-->
        <div class="modal fade" id="kitchen2" class="homeModal1" role="dialog">
            <div class="modal-dialog" style="width:30em;position: absolute; left:25em;">
                <div class="modal-content" >
                    <div class="modal-header" style="background-color:#ded9d9;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <span><img src="./icons/table.svg" width="25em" height="25em" /></span>
                        <span style="margin-left: 6em; font-size: 1.5em">Scene2</span>
                    </div>
                    <div class="modal-body" style="height:70vh;">
                        <button class="shadesLg">
                            <img src="./icons/poolbulb.svg" width="30em" height="30em" style="float: left;" />
                            <span style="float:left; margin-left : 1em; font-size: 1.2em;">Kitchen Table</span>
                            <span style="float:right; font-size: 1em;">70 %</span>
                        </button><hr/>
                        <button class="shadesLg" ng-click="kitchenFiestaScene1Ceiling=!kitchenFiestaScene1Ceiling">
                            <img src="./icons/poolbulb.svg" width="30em" height="30em" style="float: left;" />
                            <span style="float:left; margin-left : 1em; font-size: 1.2em;">Kitchen Ceiling</span>
                            <span style="float:right; font-size: 1em;" ng-bind="kitchenFiestaScene1Ceiling ? 'ON':'OFF'"></span>
                        </button><hr/>
                        <button class="shadesLg" ng-click="kitchenFiestaScene1CP=!kitchenFiestaScene1CP">
                            <img src="./icons/poolbulb.svg" width="30em" height="30em" style="float: left;" />
                            <span style="float:left; margin-left : 1em; font-size: 1.2em;">Kitchen Counterpoint</span>
                            <span style="float:right; font-size: 1em;" ng-bind="kitchenFiestaScene1CP ? 'ON':'OFF'"></span>
                        </button><hr/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="glyphicon glyphicon-play" style="float:left">Exicute</button>
                        <button type="button" class="glyphicon glyphicon-pause" style="float:left">Learn</button>
                        <button type="button" class="glyphicon glyphicon-ok" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="homeModal4" class="homeModal1" role="dialog">
    <div class="modal-dialog" style="width:25em;position: absolute; left:30em;">
        <div class="modal-content">
            <div class="modal-header" style="background-color : #EEE;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="glyphicon glyphicon-wrench"></span>
                <span style="margin-left: 9em;">Settings</span>
            </div>
            <div class="modal-body" style="height:80vh;">
               <h3>Language</h3>
            </div>
        </div>
    </div>
</div>
<div class="nav">
   <nav class="header">
       <ul>
           <li><a href="home.html"><img src="./icons/home.svg"  />
               <br/>Demo</a></li>
           <li><a href="rooms.html"><img src="./icons/rooms.svg" />
               <br/>Rooms</a></li>
           <li><a href="alarm.html"><img src="./icons/alarm.svg"  />
               <br/>Alarm</a></li>
           <li><a href="hvac.html"><img src="./icons/fire.svg"  />
               <br/>HVAC</a></li>
           <li><a href="cinema.html"><img src="./icons/cinema.svg"  />
               <br/>Cinema</a></li>
           <li><a href="shades.html"><img src="./icons/shades.svg"  />
               <br/>shades</a></li>
           <li><a href="camera.html"><img src="./icons/camera.svg"  />
               <br/>Camera</a></li>
           <li><a href="consumption.html"><img src="./icons/consumption.svg" />
              <br/> Consumption</a></li>
           <li><a href="irrigation.html"><img src="./icons/irrigation.svg"  />
              <br/>Irrigation</a></li>
           <li><a href="pool.html"><img src="./icons/pool.svg"  />
              <br/>Pool</a></li>
           <li><a href="weather.html"><img src="./icons/weather.svg"  />
              <br/>Weather</a></li>
           <li><a href="settings.html"><img src="./icons/settings.svg"  />
               <br/>Settings</a></li>
       </ul>
   </nav>
</div>
 

</body>
</html>
